html {
    background-color: #fff;
}
body {
    border: thick solid;
    width: auto;
    height: calc(100dvh - 10px - 16px);

    position: relative;
    font-family: serif;
}

.box {
    border: 4px solid;
    width: 88%;
    height: 88%;

    margin: auto;
    display: inline-block;

    margin-left: calc(12% - 8px);
    margin-right: calc(12% - 8px);
    position: relative;

    animation-duration: 12s;
    animation-name: swing;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;

    & > .box {
        border-width: 3px;
        margin-left: calc(12% - 6px);
        margin-right: calc(12% - 6px);
        & > .box {
            border-width: 2px;
            margin-left: calc(12% - 4px);
            margin-right: calc(12% - 4px);
            & > .box {
                border-width: 1px;
                margin-left: calc(12% - 2px - 16px);
                margin-right: calc(12% - 2px - 16px);
                padding: 8px;
                overflow: scroll;
            }
        }
    }
}
.m-right {
    position: absolute;
    top: 50%;
    right: 0;
}
.m-left {
    position: absolute;
    top: 50%;
    left: 0;
}
.block-level {
    text-decoration-line: underline;
}
body:has(.block-level:nth-child(1 of .block-level):hover) .m-left {
    color: #ff0000;
}
.block-level:nth-child(1 of .block-level):hover {
    color: #ff0000;
}
body:has(.block-level:nth-child(2 of .block-level):hover) .box {
    border-left-color: #ff0000;
}
body:has(.block-level:nth-child(2 of .block-level):hover) {
    border-left-color: #ff0000;
}
.block-level:nth-child(2 of .block-level):hover {
    color: #ff0000;
}
.block-level:nth-child(3 of .block-level):hover {
    color: #ff0000;
}
body:has(.block-level:nth-child(4 of .block-level):hover) .box{
    background-color: #ff0000;
}
body:has(.block-level:nth-child(4 of .block-level):hover) {
    background-color: #ff0000;
    background-clip: content-box;
}
.block-level:nth-child(4 of .block-level):hover {
    color:#ff0000
}
.block-level:nth-child(5 of .block-level):hover {
    color: #ff0000;
}
body:has(.block-level:nth-child(6 of .block-level):hover) .box {
    border-right-color: #ff0000;
}
body:has(.block-level:nth-child(6 of .block-level):hover) {
    border-right-color: #ff0000;
}
.block-level:nth-child(6 of .block-level):hover {
    color: #ff0000;
}
body:has(.block-level:nth-child(7 of .block-level):hover) .m-right{
    color:#ff0000
}
.block-level:nth-child(7 of .block-level):hover {
    color: #ff0000;
}
html:has(.block-level:nth-child(8 of .block-level):hover) {
    background-color: #ff0000;
}
.block-level:nth-child(8 of .block-level):hover {
    color: #ff0000;
}

@keyframes swing {
    from {
        margin-left: 0%;
    }
    to {
        margin-right: 0%;
    }
}